@import "utils";
@import "mixins/media-queries";
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import "ionicons/ionicons";
$primary: #007ee5;
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  list-style: none;
}
body {
  background: #f4f8f9;
}

.container {
  @extend .container-width;
  @include tablet {
    width: 100%;
  }
  @include mobile {
    width: 100%;
  }
  @include mobile-landscape {
    width: 100%;
  }
  margin: 0 auto;

  &__card {
    @extend .direction-col;

    -webkit-box-shadow: 0px 0px 13px -7px black;
    box-shadow: 0px 0px 13px -7px black;
    height: 300px;
    padding: 17px;
    margin-top: 30px;
    @include mobile {
      background-color: transparent;
      -webkit-box-shadow: 0 0 0 0;
      box-shadow: 0 0 0 0;
      margin-top: 10px;
      padding: 0;
      height: 100%;
    }
    @include mobile-landscape {
      background-color: transparent;
      -webkit-box-shadow: 0 0 0 0;
      box-shadow: 0 0 0 0;
      margin-top: 10px;
      height: 100%;
    }

    background-color: white;
    width: 100%;

    &__logout-button {
      background-color: transparent;
      float: right;
      padding: 3px 0;
      border: 1px solid $primary;
      color: $primary;
      font-weight: bold;
      font-size: 12px;
      @include mobile {
        border: 0;
        margin-bottom: 10px;
        width: auto;
        margin-right: 10px;
      }
      @include mobile-landscape {
        border: 0;
      }
      -ms-flex-item-align: end;
      align-self: flex-end;
      width: 88px;
    }
    &__profile {
      @extend .direction-row;
      @extend .full-height;
      @extend .flex-end;
      @extend .full-width;
      @extend .flex-wrap;
      &__img-container {
        @extend .flex;
        @extend .justify-center;
        @include mobile {
          width: 100%;
        }
        @include mobile-landscape {
          width: 100%;
        }
        @include desktop {
          width: 14%;
        }
        @include tablet {
          width: 25%;
        }

        &__img {
          background: url("../../images/profile_image.jpg");
          background-position: top;
          background-size: auto;
          background-repeat: no-repeat;
          width: 170px;
          height: 170px;
          -webkit-box-shadow: 0px 0px 16px -4px dimgrey;
          box-shadow: 0px 0px 16px -4px dimgrey;
        }
      }

      &__info-container {
        height: 75%;
        width: 85%;
        @include tablet {
          width: 75%;
        }
        @include mobile {
          width: 100%;
        }
        @include mobile-landscape {
          width: 100%;
        }
        @extend .flex;
        @extend .flex-wrap;

        &__upload-container {
          @extend .justify-center;
          -ms-flex-item-align: baseline;
          align-self: baseline;

          @include mobile {
            display: none;
          }
          // background:blue;
          @extend .full-width;
          &__upload-button {
            background-color: transparent;
            padding: 1px 22px;
            border: 1px solid #d0dce7;
            color: #727e88;
            font-weight: bold;
            font-size: 12px;
            border-radius: 4px;
            @extend .align-center;
            cursor: pointer;
            i {
              color: #d0dce7;
              font-size: 28px;
              margin-right: 10px;
            }
          }
        }
        &__info {
          @extend .direction-row;
          @extend .justify-between;
          padding-left: 13px;
          @include mobile {
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            padding: 0 20px;
          }
          @extend .full-width;
          &__info-section {
            @extend .flex;
            @extend .direction-col;
            @include mobile {
              width: 100%;
            }
            @include mobile-landscape {
              width: 100%;
            }
          }
          &__name {
            @include mobile {
              text-align: center;
              margin-top: 20px;
              margin-bottom: 10px !important;
            }
            @include mobile-landscape {
              text-align: center;
              margin-top: 20px;
              margin-bottom: 10px !important;
            }
            font-size: 20px;
          }
          &__address {
            @include mobile {
              -webkit-box-ordinal-group: 3;
              -ms-flex-order: 2;
              order: 2;
            }
            @include mobile-landscape {
              -webkit-box-ordinal-group: 3;
              -ms-flex-order: 2;
              order: 2;
            }
          }
          .info {
            margin-bottom: 5px;
            color: #3f454a;
            .icon {
              font-size: 18px;
              color: #a1a3a5;
              margin-right: 5px;
            }
          }
        }
        &__rating {
          @extend .flex;
          @extend .justify-around;
          @include mobile {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
          }
          &__rating-list {
            @extend .direction-row;
            margin-right: 10px;
            &__rating-list-item {
              .rating-star {
                @include mobile {
                  font-size: 30px;
                  color: $primary;
                }
                @include mobile-landscape {
                  font-size: 30px;
                  color: $primary;
                }
                font-size: 20px;
                color: #727e88;
                margin-right: 3px;
              }
            }
          }
          &__rating-qty {
            margin-top: 4px;
            margin-left: 4px;
            font-size: 14px;
            @include mobile {
              font-size: 16px;
            }
            @include mobile-landscape {
              font-size: 16px;
            }
          }
        }
        &__tabs-container {
          @extend .full-width;
          @extend .flex;
          @extend .align-end;
          @extend .justify-between;
          //   background:white;
          @include mobile {
            padding: 10px 0;

            margin-top: 0px;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: start;

            -ms-flex-align: start;

            align-items: flex-start;
          }
          @include mobile-landscape {
            padding: 10px 0;
          }
          &__tabs {
            @include mobile {
              width: 100%;
              -ms-flex-order: 2;
              -webkit-box-ordinal-group: 3;
              order: 2;
              padding: 15px 0;
              background: white;
              margin-top: 10px;
              -webkit-box-shadow: 0px 0px 14px -4px dimgrey;
              box-shadow: 0px 0px 14px -4px dimgrey;
            }
            width: 50%;

            @extend .direction-row;
            @extend .justify-around;
            cursor: pointer;
            font-size: 15px;
            position: relative;
            &__tabs-item {
              padding: 0 5px;
              width: auto;
              -webkit-transition: 0.2s;
              -o-transition: 0.2s;
              transition: 0.2s;

              &.tabs-item--active {
                &::before {
                  content: " ";
                  width: 100%;
                  background: $primary;
                  height: 3px;
                  position: relative;
                  display: block;
                  bottom: 0;
                  top: 37px;
                  -webkit-transition: 0.2s;
                  -o-transition: 0.2s;
                  transition: 0.2s;
                }
              }
              &:hover {
                &::before {
                  content: " ";
                  width: 100%;
                  background: $primary;
                  height: 3px;
                  position: relative;
                  display: block;
                  bottom: 0;
                  top: 37px;
                  -webkit-transition: 0.2s;
                  -o-transition: 0.2s;
                  transition: 0.2s;
                }
              }
              &::before {
                content: " ";
                background: transparent;
                height: 3px;
                display: block;
              }
            }
          }
          &__followers-container {
            @include mobile {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-align: center;
              -ms-flex-align: center;
              align-items: center;
            }
            @include mobile-landscape {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-align: center;
              -ms-flex-align: center;
              align-items: center;
            }
            strong {
              margin-right: 5px;
            }
            .icon {
              font-size: 20px;
              color: #727e88;
              margin-right: 10px;
              @include mobile {
                padding-left: 20px;
                font-size: 30px;
              }
              @include mobile-landscape {
                padding-left: 20px;
                font-size: 30px;
              }
            }
          }
        }
      }
    }
  }
  &__card-content {
    -webkit-box-shadow: 0px 0px 13px -7px black;
    box-shadow: 0px 0px 13px -7px black;
    height: 300px;
    background-color: white;
    width: 100%;
    padding: 30px 0px 0px 30px;
    margin-top: 30px;

    @include mobile {
      margin-top: 10px;
      padding: 10px 0px 0px 10px;
      width: calc(100% - 10px);
    }
    @include mobile-landscape {
      margin-top: 10px;
    }
    .tab__container--hidden {
      display: none;
    }
    .tab__container--show {
      display: block;
    }
    &__title {
      color: #727e88;
      i {
        display: none;
        @include mobile {
          display: inline-block !important;
          background-color: #ecf1f5;
          padding: 5px 10px;
          cursor: pointer;
          margin-right: 5px;
          float: right;
          position: relative;
        }
      }
    }
    &__body {
      @include mobile {
        margin-top: 10px;
      }
      @include mobile-landscape {
        margin-top: 10px;
      }
      margin-top: 20px;
      &__control {
        height: 30px;
        margin-bottom: 15px;
        position: relative;
        width: 25%;
        @include mobile {
          width: 100%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
        }
        strong {
          font-weight: bold !important;
        }
        span,
        strong {
          @include mobile {
            font-weight: lighter;
            padding-left: 5px;
          }
          &:not(.bar) {
            font-weight: bold;
            padding: 10px 15px;
            background-color: #f5f8f9;
            float: left;
            @include mobile {
              background-color: transparent;
            }
            @include mobile-landscape {
              background-color: transparent;
            }
          }
        }
        i {
          @include mobile {
            display: block;
            &.ion-edit {
              display: none;
            }
            &:not(.ion-edit) {
              display: block !important;
            }
            font-size: 18px;
            padding: 0;
            margin-left: 10px;
            background-color: transparent;
            color: #727e88;
          }
          @include mobile-landscape {
            display: none;
          }
          &:not(.ion-edit) {
            display: none;
          }
          background-color: #ecf1f5;
          padding: 10px;
          cursor: pointer;
          margin-left: -4px;
          float: left;
          position: relative;
        }
      }
    }
  }
}
.tooltip {
  @include mobile
  {
    display:none;
  }
  -webkit-box-shadow: 0px 0px 7px -1px dimgray;
          box-shadow: 0px 0px 7px -1px dimgray;
  padding: 22px;
  z-index: 1;
  background: white;
  width: 200px;
  height: 75px;
  position: relative;
  &::before {
    width: 0;
    height: 0;
    border-top: 15.5px solid transparent;
    border-right: 25px solid white;
    border-bottom: 15.5px solid transparent;
    content: "";
    position: absolute;
    left: -10px;
    top: 0px;
  }
}