/*Utils*/
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.direction-row {
  @extend .flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.direction-col {
  @extend .flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.flex-end {
  @extend .flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.flex-wrap {
  @extend .flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.justify-center {
  @extend .flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.justify-between {
  @extend .flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.justify-around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.align-center {
  @extend .flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.align-end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.align-start {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.full-width {
  width: 100%;
}
.full-height {
  height: 100%;
}
.container-width {
  width: 70%;
}

.hide {
  display: none;
}
.show {
  display: block;
}
.group {
  position: relative;
}
.material_input {
  font-size: 14px;
  padding: 10px 0 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #757575;
}
.material_input {
  outline: none;
}

.material_label {
  color: #ecf1f5;
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  -webkit-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all;
}

.material_input:focus ~ .material_label,
.material_input:valid ~ .material_label {
  top: -10px;
  font-size: 14px;
  // color: #5264ae;
}

.bar  { position:relative; display:block; width:100%; }
.bar:before, .bar:after   {
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#007ee5; 
  -webkit-transition:0.2s ease all; 
  -o-transition:0.2s ease all; 
  transition:0.2s ease all; 
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
.material_input:focus ~ .bar:before, .material_input:focus ~ .bar:after {
  width:50%;
}

.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

.tooltip_buttons
{
  @extend .flex;
  @extend .justify-around;
  .tooltip_button
  {
    padding: 3px 20px;
    font-size:12px;
    border:none;
    outline: inherit;
    margin-top: 20px;
  border-radius:3px;
  border: 1px solid #007ee5;
  cursor: pointer;
  }
}

.primary_button
{
  background-color: #007ee5 !important;
  color:white;
  
}
.secondary_button
{
  background-color: transparent;
  color: #007ee5;
  
}
