$tablet-width: 768px;
$desktop-width: 1024px;
$mobile-min-width: 320px;
$mobile-max-width: 480px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}
@mixin tablet-landscape {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) and (orientation: landscape) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
@mixin mobile {
  @media (min-width: #{$mobile-min-width}) and (max-width: #{$mobile-max-width}) {
    @content;
  }
}

@mixin mobile-landscape {
  @media (min-width: #{$mobile-max-width + 1px}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}
